// Colours
$clr-primary: #E3B873;
$clr-secondary: #181818;
$clr-secondary-darker: #131313; 
$clr-white: #fff;
$clr-black: #000;


// Fonts
$oxygen: 'Oxygen', sans-serif;
$yeseva: 'Yeseva One', cursive;
$regular: 400;
$light: 300;
$bold: 700;
$default-font-size: 1rem;

// Utils
$btn-shadow-primary: 0px 5px 15px rgba(227, 184, 115, 0.2);
$box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

// Grid
$container: 50rem;
$container-padding: 1.5rem;