// Colours
$clr-primary: #E3B873;
$clr-secondary: #252525;
$clr-white: #fff;
$clr-black: #000;


// Fonts
$oxygen: 'Oxygen', sans-serif;
$yeseva: 'Yeseva One', cursive;
$regular: 400;
$light: 300;
$bold: 700;
$default-font-size: 1rem;

// Utils


// Grid
$container: 50rem;
$container-padding: 1.5rem;