.btn{
	cursor: pointer;
	display: block;
	padding: 1.4rem 2.1rem;
	font-size: 1.3rem;
	font-weight: $bold;
	line-height: 1.5rem;
	border: none;
	outline: none;
	text-transform: uppercase;
	transition: color 0.3s ease-in, background 0.3s ease-in;

	&--primary{
		background: $clr-primary;
		color: $clr-white;

		&:hover{
			background: lighten($clr-primary, 10);
			color: darken($clr-primary, 10);
			
		}
	}

	&--white{
		color: $clr-white;
		
	}
	
	&--shadow-primary{
		box-shadow: $btn-shadow-primary;
	}

	&--outlined{
		background: transparent;
		outline: 1px solid currentColor;

		&:hover{
			color: $clr-secondary;	
			background: $clr-white;
			
		}
	}

	&--full{
		width: 100%;
	}

	&:not(:last-child){
		margin-bottom: 2rem;
	}

	@include respond(phone-small){
		padding: 1.8rem 2.5rem;
	}


}

